UL {
    color: magenta;
}

h1 {
    color: #ff3a6f;
}

p {
    color: magenta; background-color: black; padding: 10%;
}

h2 {
    color: cyan;
}

h3 {
    color: cyan;
}

a {
    color: orange;
}

html {
    background: rgb(10, 0, 50);
}

IMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#spider {
    width:20%;
    background-color: magenta;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.redtext{color:red;}